<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product API</title>
</head>
<body>
<p>
*********************************************
YOU CAN GENERATE JSON IN THE FOLLOWING WEB
https://www.site24x7.com/es/tools/generador-de-json.html

USE THIS TEMPLATE TO GENERATE ProductDTO

{
"name": "string('Bus','Car','Bike')",
"price": "int(100-350)",
"description": "string",
"stock": "int(0-10)"
}


**************************************************************
ENDPOINTS

--------------------------------------------------------------------------
GET   : /products/{id} - obtener un productoDTO por id
GET   : /products/ - obtener una lista de productoDTO

POST  : /products      - crear un productoDTO
PUT   : /products/{id} - actualizar un productoDTO por id
DELETE: /products/{id} - eliminar un productoDTO por id
--------------------------------------------------------------------------
</p>
</body>
</html>